.green {
    background-color: #18ED18;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.whiteText {
    color: white;
}

.alignCenter {
    text-align: center;
    vertical-align: center;
}

.fullPage {
    height: 78vh;
}

.marginTop{
    margin-top: 30px;
}