/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    width: 100%;
    height: 100%;
    /*border: 1px solid #000;*/
}

.container__intro {
    width: 100%;
    height: 670px;
    background: transparent url('../img/intro_backg1600x670_overlay.jpg') no-repeat;
    background-size: cover;
}

.grid960 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.intro__header {
    float: left;
    width: 100%;
    height: 80px;
}

.intro__article {
    float: left;
    width: 100%;
    min-height: 450px;
    text-align: center;
}

.intro__article > h1 {
    width: 100%;
    margin: 160px 0 0;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.intro__article > p {
    margin: 10px 90px 50px 90px;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.h_separator {
    display: block;
    width: 50px;
    height: 1px;
    margin: 15px auto;
    border-top: 1px solid #00e0d0;
}

.Button {
    padding: 10px;
    background: none;
    width: 120px;
    height: 40px;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 1px;
}

.Button--blue {
    color: #00e0d0;
    border: 1px solid #00e0d0;
}

.Button--blue:hover {
    color: #FFF;
    border: 1px solid #FFF;
    /* background-color: #FFF; */
}

.intro__footer {
    float: left;
    width: 100%;
    height: 140px;
}

.footer__slider {
    width: 66px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}

.footer__slider > li {
    display: inline;
}

.footer__slider > li > a {
    float: left;
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 45px;
    border: 1px solid #00e0d0;
}

.footer__slider > li > a:hover {
    background-color: #00e0d0;
}

.header__logo {
    float: left;
    display: block;
    width: 170px;
    height: 100%;
}

.header__nav {
    float: left;
    width: 790px;
    height: 100%;
}

.nav__container {
    width: 770px;
    height: 30px;
    margin: 0;
    padding: 25px 10px;
    list-style: none;
    text-align: right;
}

.nav__container > li {
    display: inline;
    margin: 0 0 0 20px;
    font-size: 10pt;
    font-weight: bold;
}

.nav__container > li > a {
    text-decoration: none;
    color: #FFF;
}

.nav__container > li > a:hover {
    color: #00e0d0;
}

.second_container {
    background-color: white;
    min-height: 400px;
}

.container__second {
    background-color: white;
}

.image_container {
    margin: 70px 0 0 80px;
    float: left;
    display: block;
}

.our_story_container {
    float: right;
    background-color: white;
    height: 260px;
    width: 540px;
    margin: 67px 0 0 0;
}

.body_text {
    font-size: 14px;
}

.Button--story {
    color: #00e0d0;
    border: 1px solid #00e0d0;
    margin: 30px 0 0 0;
}

.Button--story:hover {
    color: black;
    border: 1px solid black;
}

.third_container {
    background: transparent url('../img/video_background.jpg') no-repeat;
    width: 100%;
    height: 550px;
    background-size: cover;
}

.container--third {

    height: 550px;
    width: 100%;
}

.blue_overlay {
    background: rgba(50, 42, 82, 0.85);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.container__third {
    height: 550px;
    width: 100%;
    background: transparent url('../img/video_background.jpg') no-repeat;
    background-size: cover;
}

.our_story_main_container {
    width: 160px;
    text-align: center;
    margin: 200px auto;
}

.reference {
    text-decoration: none;
}

.our_story_text {
    color: white;
    text-decoration: none;
}

.forth_container {
    height: 755px;
    width: 100%;
    /*background-color: green;*/
}

.remove {
    background-color: yellow;
}

.text_area {
    text-align: center;
    margin: 0 auto;
}

.title_text {
    padding-top: 70px;
}

.expertise_description {
    margin-top: 20px;
}

.expertise_seperator {
    border-top: 1px solid #c6c5c9;
    margin-bottom: 85px;
}

.expertise_box_container {
    height: 500px;
    width: 100%;
    /*background-color: #00e0d0;*/
}

.expertise_box {
    height: 177px;
    width: 255px;
    margin-left: 32.5px;
    margin-right: 32.5px;
    float: left;
    /*background-color: #b3d4fc;*/
}

.expertise_box_image {
    margin: 0 auto;
    /*background-color: yellow;*/
}

.expertise_title_container {
    text-align: center;
}

.expertise_title {
    font-size: 12px;
    margin-top: 33px;
}

.expertise_box_description {
    font-size: 12px;
    margin-top: 20px;
    color: #7B7B7B;
}

.expertise_image {
    display: block;
    margin: auto;
}

.expertise_box_bottom {
    margin-top: 70px;
}

.fifth_container {
    height: 710px;
    width: 100%;
    /*background-color: green;*/
    background: transparent url('../img/team_background1602*715.jpeg') no-repeat;
    background-size: cover;
}

.team_container {
    height: 310px;
    width: 220px;
    /*background-color: yellow;*/
    float: left;
    margin: 0 9px;
    display: block;
    border: 1px solid #999;
}

.team_text_container {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 25px;
}

.team_seperator {
    margin-bottom: 45px;
    border-top: 1px solid #c6c5c9;
}

.team_footer {
    height: 80px;
    margin-top: 400px;
    text-align: center;
    /*background-color: yellow;*/
}

.Button_team {
    color: #00e0d0;
    width: 140px;
    border: 1px solid #00e0d0;
}

.Button_team:hover {
    color: #FFF;
    border: 1px solid #FFF;
    /* background-color: #FFF; */
}

.white {
    color: #F1F1F3;
}

.less_white {
    color: #AEADBB;
}

.sixth_container {
    width: 100%;
    /*height: 740px;*/
    height: 160px;
    /*background-color: #b3d4fc;*/
}

.our_works {
    padding-top: 70px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.works_container {
    height: 400px;
    width: 1602px;
    /*background-color: yellow;*/
    margin: 0 auto;
}

.work_box {
    /*background-color: #999999;*/
    width: 267px;
    height: 200px;
}

.our_works_footer {
    height: 180px;
    width: 100%;
    text-align: center;
    /*background-color: yellow;*/
}

.our_works_button {
    padding: 70px;
    display: block;
}

.Button_works {
    color: #00e0d0;
    width: 140px;
    border: 1px solid #00e0d0;
}

.Button_works:hover {
    color: black;
    border: 1px solid black;
    /* background-color: #FFF; */
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}